@charset "UTF-8";

#wrap{
	text-align: center;
}
.table_area{
	display: inline-block;
}
table.type03 {
	width: 1000px;
	height: 700px;
    text-align: left;
    line-height: 1.5;
    border-left: 3px solid #369;
  	margin : 20px 10px;
  	margin-left: 100px;
  	font-size : 1.3em;
}
table.type03 th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
}
table.type03 td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    color: #555;
}
div.alert{
	font-size: 1em;
}
input{
	width: 200px;
	height: 30px;
}
.button-area {
	text-align: center;
	padding: 10px 0;
	float: left;
}
.button01 {
	display: inline-block;
	width: 280px;
	font-size: 18px;
	letter-spacing: -1px;
	font-weight: bold;
	height: 50px;
	line-height: 55px;
	text-decoration: none;
	border-radius: 0;
	background-color: #000;
	color: #FFF;
}
.button01:hover {
	-webkit-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out; 
	-o-transition: all 0.4s ease-in-out; 
	transition: all 0.4s ease-in-out; 
	background-color: #FFF;
	color: #000;
	border-style: solid;
}